<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand">Online Requests</a>
  <span style="font-size: x-large; color: blue">{{storageServiceService.userInfoArray.length}}</span>
  <button class="btn btn-primary btn-demo mr-1" routerLink="/demoList">Demo login</button>
  <button class="btn btn-primary mr-1" routerLink="/history">History</button>
  <svg
    routerLink="/registeration"
    width="3em"
    height="3em"
    viewBox="0 0 16 16"
    class="bi bi-plus text-primary"
    fill="currentColor"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      fill-rule="evenodd"
      d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"
    />
  </svg>
</nav>
<div class="container">
  <div *ngFor="let user of storageServiceService.userInfoArray" class="card mt-3" style="width: 100%">
    <div class="card-body">
      <h5 class="card-title">{{ user.firstName }} {{ user.lastName }}</h5>
      <p class="card-text">
        <span style="font-weight: bold">Distributer: </span
        >{{ user.distributerId }},
        <span style="font-weight: bold">Application: </span> {{ user.appId }}
      </p>
      <button (click)="onGetDetails(user)" class="btn btn-primary">
        Get Details
      </button>
    </div>
  </div>
</div>
