<mat-sidenav-container class="sideNavContainer">
  <mat-sidenav
    class="bg-primary p-0"
    #drawer
    fixedInViewPort="true"
    [attr.role]="isHandset ? 'dialog' : 'navigation'"
    [mode]="(isHandset | async)!.matches ? 'over' : 'side'"
    [opened]="!(isHandset | async)!.matches"
    [ngStyle]="{'width': (isHandset|async)!.matches ? '60%' : '15%'}"
  >
    <div class="admin p-5">
      <h1 class="text-light text" style="font-size: 120%">
        WELCOME
        <p>{{userName | uppercase}}</p>
      </h1>
    </div>
    <div class="menu py-5">
      <div class="mb-4">
        <h1 class="text-light text">Menu</h1>
      </div>
      <ul class="list-group">
        <button
          type="button"
          class="list-group-item text p-0"
          [ngClass]="
            selectedMenuItem == 'registeration'
              ? 'bg-light text-primary font-weight-bold'
              : 'bg-primary text-light'
          "
          value="registeration"
          (click)="onManuClick($event)"
        >
          REGISTERATION
        </button>

        <button
          class="list-group-item text p-0 bg-primary text-light"
          (click)="onLogoutClick()"
        >
          Sign Out
        </button>
      </ul>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <button
    type="button"
    aria-label="Toggle Sidenav"
    mat-icon-button
    (click)="drawer.toggle()"
    *ngIf="(isHandset | async)!.matches"
  >
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div>
        <ul class="navbar-nav">
          <li class="nav-item">
            <button
              class="btn mx-1"
              [ngClass]="
                selectedNavBarItem == 'requests'
                  ? ' btn-primary'
                  : ' btn-outline-primary'
              "
              value="requests"
              (click)="onNavBarClick($event)"
            >
              PENDING REQUEST
            </button>
          <!-- </li>
          <li class="nav-item"> -->
            <button
              class="btn mx-1"
              [ngClass]="
                selectedNavBarItem == 'history'
                  ? ' btn-primary'
                  : ' btn-outline-primary'
              "
              value="history"
              (click)="onNavBarClick($event)"
            >
              HISTORY
            </button>
          <!-- </li>
          <li class="nav-item"> -->
            <button
              class="btn mx-1"
              [ngClass]="
                selectedNavBarItem == 'demo'
                  ? ' btn-primary'
                  : ' btn-outline-primary'
              "
              value="demo"
              (click)="onNavBarClick($event)"
            >
              DEMO LOGIN
            </button>
          </li>
        </ul>
      </div>
    </nav>
    <app-registration-component
      *ngIf="selectedNavBarItem == 'requests'"
    ></app-registration-component>
    <app-history-component
      *ngIf="selectedNavBarItem == 'history'"
      [isDistributerLogin]="isDistributerLogin"
    ></app-history-component>
    <app-demo-list-component
      *ngIf="selectedNavBarItem == 'demo'"
    ></app-demo-list-component>
  </mat-sidenav-content>
</mat-sidenav-container>
<app-footer-component></app-footer-component>
