<div class="main">
  <div *ngIf="!showAdvancedSearchPanel">
    <div class="row">
      <div class="col-6">
        <span class="dropdown mr-1">
          <button
            class="btn btn-primary dropdown-toggle"
            type="button"
            id="distributerMenu"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            *ngIf="!isDistributerLogin"
          >
            Distributer
          </button>
          <div class="dropdown-menu" aria-labelledby="distributerMenu">
            <button
              *ngFor="let distributer of storageService.distributerInfo"
              [class]="
                dist == distributer.id.toString()
                  ? 'dropdown-item active'
                  : 'dropdown-item'
              "
              type="button"
              (click)="
                filterByDistributer(distributer.id, distributer.distributer)
              "
            >
              {{ distributer.distributer }}
            </button>
            <div class="dropdown-divider"></div>
            <button
              class="dropdown-item"
              type="button"
              (click)="onClearDistFilter()"
            >
              Clear
            </button>
          </div>
        </span>

        <span class="dropdown mr-1">
          <button
            class="btn btn-primary dropdown-toggle"
            type="button"
            id="monthMenu"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Month
          </button>
          <div class="dropdown-menu" aria-labelledby="monthMenu">
            <button
              [class]="
                activeMonth == '1' ? 'dropdown-item active' : 'dropdown-item'
              "
              type="button"
              (click)="filterByMonth('1', 'January')"
            >
              January
            </button>
            <button
              [class]="
                activeMonth == '2' ? 'dropdown-item active' : 'dropdown-item'
              "
              type="button"
              (click)="filterByMonth('2', 'February')"
            >
              February
            </button>
            <button
              [class]="
                activeMonth == '3' ? 'dropdown-item active' : 'dropdown-item'
              "
              type="button"
              (click)="filterByMonth('3', 'March')"
            >
              March
            </button>
            <button
              [class]="
                activeMonth == '4' ? 'dropdown-item active' : 'dropdown-item'
              "
              type="button"
              (click)="filterByMonth('4', 'April')"
            >
              April
            </button>
            <button
              [class]="
                activeMonth == '5' ? 'dropdown-item active' : 'dropdown-item'
              "
              type="button"
              (click)="filterByMonth('5', 'May')"
            >
              May
            </button>
            <button
              [class]="
                activeMonth == '6' ? 'dropdown-item active' : 'dropdown-item'
              "
              type="button"
              (click)="filterByMonth('6', 'June')"
            >
              June
            </button>
            <button
              [class]="
                activeMonth == '7' ? 'dropdown-item active' : 'dropdown-item'
              "
              type="button"
              (click)="filterByMonth('7', 'July')"
            >
              July
            </button>
            <button
              [class]="
                activeMonth == '8' ? 'dropdown-item active' : 'dropdown-item'
              "
              type="button"
              (click)="filterByMonth('8', 'August')"
            >
              August
            </button>
            <button
              [class]="
                activeMonth == '9' ? 'dropdown-item active' : 'dropdown-item'
              "
              type="button"
              (click)="filterByMonth('9', 'September')"
            >
              September
            </button>
            <button
              [class]="
                activeMonth == '10' ? 'dropdown-item active' : 'dropdown-item'
              "
              type="button"
              (click)="filterByMonth('10', 'October')"
            >
              October
            </button>
            <button
              [class]="
                activeMonth == '11' ? 'dropdown-item active' : 'dropdown-item'
              "
              type="button"
              (click)="filterByMonth('11', 'November')"
            >
              November
            </button>
            <button
              [class]="
                activeMonth == '12' ? 'dropdown-item active' : 'dropdown-item'
              "
              type="button"
              (click)="filterByMonth('12', 'December')"
            >
              December
            </button>
            <div class="dropdown-divider"></div>
            <button
              class="dropdown-item"
              type="button"
              (click)="onClearMonthFilter()"
            >
              Clear
            </button>
          </div>
        </span>
      </div>
      <div class="col-6">
        <button
          style="float: right"
          class="btn btn-success mr-1"
          (click)="applyFilter()"
        >
          Apply filter
        </button>
        <button
          style="float: right"
          class="btn btn-danger mr-1"
          (click)="onClearAllFilters()"
        >
          Clear Filter
        </button>
      </div>
    </div>

    <div style="margin-top: 5px">
      <mat-chip-list aria-label="Fish selection">
        <mat-chip *ngIf="distributerName != ''">{{ distributerName }}</mat-chip>
        <mat-chip *ngIf="monthName != ''">{{ monthName }}</mat-chip>
      </mat-chip-list>
    </div>

    <div class="row">
      <div [class]="isDistributerLogin ? 'col-10' : 'col-12'">
        <input
          type="text"
          class="form-control my-3 searchbar"
          placeholder="Search By Name"
          (keyup)="handleSearch($event)"
        />
      </div>
      <div class="col-2 p-3" *ngIf="isDistributerLogin">
        <button
          class="btn btn-primary mr-1"
          style="float: right"
          (click)="onAdvancedSearch()"
        >
          Advanced Search
        </button>
      </div>
    </div>
  </div>

  <div
    *ngIf="showAdvancedSearchPanel"
    class="my-3 p-3"
    style="box-shadow: 0px 0px 10px 0px #aaaaaa; border-radius: 10px"
  >
    <div class="row">
      <div class="col-6">
        <div class="row">
          <div class="col-6">
            <div class="form-group m-0">
              <input
                type="text"
                class="form-control input datepicker"
                placeholder="From Date"
                [(ngModel)]="fromDate"
                bsDatepicker
                [bsConfig]="datepickerConfig"
              />
            </div>
          </div>
          <div class="col-6">
            <div class="form-group m-0">
              <input
                type="text"
                class="form-control input datepicker"
                placeholder="To Date"
                [(ngModel)]="toDate"
                bsDatepicker
                [bsConfig]="datepickerConfig"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="row">
          <div class="col-6">
            <button
              class="btn btn-success"
              style="float: left"
              (click)="onSearchButton()"
            >
              Search
            </button>
          </div>
          <div class="col-6">
            <button
              class="btn btn-danger"
              style="float: right"
              (click)="onClose()"
            >
              Clear and Close
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="table-div">
    <table class="table table-striped">
      <thead class="bg-primary">
        <tr>
          <th scope="col" class="text-light">First Name</th>
          <th scope="col" class="text-light">Last Name</th>
          <th scope="col" class="text-light">Email</th>
          <th scope="col" class="text-light">Contact No.</th>
          <th scope="col" class="text-light">Distributer</th>
          <th scope="col" class="text-light">Product</th>
          <th scope="col" class="text-light">Date</th>
          <th scope="col" class="text-light">Area</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of userInfo">
          <td>{{ user.firstName }}</td>
          <td>{{ user.lastName }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.contactNo }}</td>
          <td>{{ user.distributerId }}</td>
          <td>{{ user.appId }}</td>
          <td>{{ user.date }}</td>
          <td>{{ user.area }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
