<mat-sidenav-container class="sideNavContainer">
  <mat-sidenav
    class="bg-primary p-0 sideNav"
    #drawer
    fixedInViewPort="true"
    [attr.role]="isHandset ? 'dialog' : 'navigation'"
    [mode]="(isHandset | async)!.matches ? 'over' : 'side'"
    [opened]="!(isHandset | async)!.matches"
    [ngStyle]="{'width': (isHandset|async)!.matches ? '60%' : '15%'}"
  >
    <div class="admin p-5">
      <h1 class="text-light text" style="font-size: 120%">
        WELCOME
        <p>{{ distributerName | uppercase }}</p>
      </h1>
    </div>
    <div class="menu py-5">
      <div class="mb-4">
        <h1 class="text-light text">Menu</h1>
      </div>
      <ul class="list-group">
        <button
          type="button"
          class="list-group-item text p-0"
          [ngClass]="
            selectedMenuItem == 'register'
              ? 'bg-light text-primary font-weight-bold'
              : 'bg-primary text-light'
          "
          value="register"
          (click)="onManuClick($event)"
        >
          REGISTERED USERS
        </button>

        <button
          type="button"
          class="list-group-item text p-0"
          [ngClass]="
            selectedMenuItem == 'demo'
              ? 'bg-light text-primary font-weight-bold'
              : 'bg-primary text-light'
          "
          value="demo"
          (click)="onManuClick($event)"
        >
          DEMO LOGIN
        </button>

        <button
          class="list-group-item text p-0 bg-primary text-light"
          (click)="onLogoutClick()"
        >
          Sign Out
        </button>
      </ul>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <button
      type="button"
      aria-label="Toggle Sidenav"
      mat-icon-button
      (click)="drawer.toggle()"
      *ngIf="(isHandset | async)!.matches"
    >
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>

    <app-demo-list-component
      *ngIf="
        selectedMenuItem == 'demo' && storageServiceService.demoUsers.length > 0
      "
      [isDistributerLogin]="isDistributerLogin"
      [distributerId]="distributerId"
    ></app-demo-list-component>
    <app-history-component
      *ngIf="
        selectedMenuItem == 'register' &&
        storageServiceService.allUsers.length > 0
      "
      [isDistributerLogin]="isDistributerLogin"
      [distributerId]="distributerId"
    ></app-history-component>
  </mat-sidenav-content>
</mat-sidenav-container>
<app-footer-component></app-footer-component>
