<div class="m-5">
  <div class="row">
    <div class="col-12 col-lg-5">
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          [(ngModel)]="product.productName"
          placeholder="Enter product Name"
        />
      </div>
    </div>
    <div class="col-7"></div>
  </div>
  <div>
    <button
      class="btn btn-primary"
      style="float: right"
      (click)="onSaveProduct()"
      [disabled]="product.productName == ''"
    >
      Save Product
    </button>
  </div>

  <div class="table-div">
    <table class="table table-striped">
      <thead class="bg-primary">
        <tr>
          <th scope="col" class="text-light">ID</th>
          <th scope="col" class="text-light">Product</th>
          <th scope="col" class="text-light">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of storageService.productInfo">
          <td>{{ product.id }}</td>
          <td>{{ product.productName }}</td>
          <td>
            <button class="btn btn-link" (click)="onEditProduct(product)">
              EDIT
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
