.form-control {
  border: none;
  border-bottom: solid 2px black;
  border-radius: 0;
}

.table-div {
  margin-top: 70px;
}

.table {
  box-shadow: 0px 0px 10px 0px #aaaaaa;
}

.table td {
  vertical-align: middle;
  text-align: center;
}

.table thead th {
  text-align: center;
}

.text-light {
  font-weight: 500;
}

@media (max-width: 540px) {
  .btn, input, label, .expire, table {
    font-size: 12px;
  }
}
