<h2 mat-dialog-title>{{ userInfo.firstName }} {{ userInfo.lastName }}</h2>
<div class="main">
  <div class="card" style="width: 100%">
    <div class="card-body">
      <h5 class="card-title"></h5>
      <div class="card-text">
        <p>
          <span style="font-weight: bold">Email Id.: </span
          >{{ userInfo.email }},
        </p>

        <p>
          <span style="font-weight: bold">Contact No.: </span
          >{{ userInfo.contactNo }}
        </p>

        <p>
          <span style="font-weight: bold">Distributer: </span
          >{{ distributerName }}
        </p>

        <p>
          <span style="font-weight: bold">Application: </span
          >{{ appName }}
        </p>

        <p>
          <span style="font-weight: bold">Register on: </span
          >{{ userInfo.regiDate }}
        </p>

        <p>
          <span style="font-weight: bold">Expires on: </span
          >{{ userInfo.expireDate }}
        </p>

        <p>
          <span style="font-weight: bold">ActivationBy: </span>
          {{ userInfo.activationGivenBy }}
        </p>

        <p>
          <span style="font-weight: bold">Status: </span>{{ userInfo.status }}
        </p>

        <p *ngIf="userInfo.activated == 'true'" style="color: green">
          Activated
        </p>

        <p *ngIf="userInfo.activated == 'false'" style="color: red">
          Deactivated
        </p>

        <button
          *ngIf="userInfo.activated == 'false'"
          class="btn btn-success"
          (click)="onActivateClick()"
        >
          Activate
        </button>
        <button
          *ngIf="userInfo.activated == 'true'"
          class="btn btn-danger"
          (click)="onDeactivateClick()"
        >
          Deactivate
        </button>
        <button class="btn btn-primary ml-2" mat-dialog-close>Close</button>
      </div>
    </div>
  </div>
</div>
