.main {
  margin: 1vw
}

.searchbar {
  border: none;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0px #aaaaaa;
}

.table {
  box-shadow: 0px 0px 10px 0px #aaaaaa;
}

.table td {
  vertical-align: middle;
  text-align: center;
}

.table thead th {
  text-align: center;
}

.text-light {
  font-weight: 500;
}

@media (max-width: 540px) {

  .btn,
  mat-chip {
    font-size: 10px;
  }

  input,
  label,
  .expire,
  table {
    font-size: 12px;
  }
}

.datepicker {
  border: none;
  border-bottom: solid 1px black;
  border-radius: 0;
}

.input {
  background: ghostwhite;
}
