<div class="main">
  <form name="employeeReg" #employeeReg="ngForm">
  <div class="row">
    <div class="col-lg-4">
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          name="fullName"
          #fullName="ngModel"
          [(ngModel)]="employee.fullName"
          placeholder="Name"
          required
        />
      </div>
    </div>
    <div class="col-lg-4">
      <div class="form-group">
        <input
          type="email"
          class="form-control"
          name="email"
          #email="ngModel"
          [(ngModel)]="employee.email"
          placeholder="Email"
          required
          email
        />
      </div>
    </div>
    <div class="col-lg-4">
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          name="passWord"
          #password="ngModel"
          [(ngModel)]="employee.password"
          placeholder="Password"
          required
        />
      </div>
    </div>
  </div>
</form>

  <div class="row">
    <div class="col-4">
      <mat-form-field>
        <mat-label style="font-size: medium"> Access Blocks </mat-label>
        <mat-select [(ngModel)]="accessBlocks" multiple>
          <mat-option
            *ngFor="let accessBlock of storageService.accessBlocks"
            [value]="accessBlock.accessBlock"
          >
            {{ accessBlock.accessBlock }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-8"></div>
  </div>

  <div class="mt-3 check-disable">
    <mat-checkbox
      class="example-margin"
      color="primary"
      [checked]="employee.activate == 'false' ? true : false"
      (change)="onCheckBox()"
      style="font-size: medium"
      >Disable</mat-checkbox
    >

    <button
      class="btn btn-primary"
      style="float: right"
      (click)="onSaveEmployee()"
      [disabled]="employeeReg.invalid"
    >
      Save Employee
    </button>
  </div>

  <div class="table-div">
    <table class="table table-striped">
      <thead class="bg-primary">
        <tr>
          <th scope="col" class="text-light">Name</th>
          <th scope="col" class="text-light">Email</th>
          <th scope="col" class="text-light">Access Block</th>
          <th scope="col" class="text-light">Password</th>
          <th scope="col" class="text-light">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of storageService.employeeInfo">
          <td>
            <svg
              *ngIf="employee.activate == 'true'"
              width="1.3em"
              height="1.3em"
              viewBox="0 0 16 16"
              class="bi bi-check-circle-fill text-success m-1"
              fill="currentColor"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"
              />
            </svg>

            <svg
              *ngIf="employee.activate == 'false'"
              width="1.3em"
              height="1.3em"
              viewBox="0 0 16 16"
              class="bi bi-x-circle-fill text-danger m-1"
              fill="currentColor"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"
              />
            </svg>
            {{ employee.fullName }}
          </td>
          <td>{{ employee.email }}</td>
          <td>{{ employee.accessBlocks }}</td>
          <td>{{ employee.password }}</td>
          <td>
            <button class="btn btn-link" (click)="onEditEmployee(employee)">
              EDIT
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
