.main {
  margin: 1vw;
}
.form-control {
  border: none;
  border-bottom: solid 2px black;
  border-radius: 0
}

.form-check-input {
  height: 20px;
    width: 20px;
}

.table-div {
  margin-top: 80px;
}

.table {
  box-shadow: 0px 0px 10px 0px #aaaaaa;
}

.table td {
  vertical-align: middle;
  text-align: center;
}

.table thead th {
  text-align: center;
}

.text-light {
  font-weight: 500;
}

@media (max-width: 540px) {
  .btn, input, .check-disable, table {
    font-size: 12px;
  }

  .table-div {
    margin-top: 10px;
  }
}

