<div class="row mt-5">
  <div class="col-6">
    <div class="form-group">
      <input
        type="text"
        class="form-control"
        placeholder="First Name"
        [(ngModel)]="userInfo.firstName"
      />
    </div>
  </div>
  <div class="col-6">
    <div class="form-group">
      <input
        type="text"
        class="form-control"
        placeholder="Last Name"
        [(ngModel)]="userInfo.lastName"
      />
    </div>
  </div>
</div>

<div class="row mt-4">
  <div class="col-6">
    <div class="form-group">
      <input
        type="text"
        class="form-control"
        placeholder="Contact No."
        [(ngModel)]="userInfo.contactNo"
      />
    </div>
  </div>
  <div class="col-6">
    <div class="form-group">
      <input
        type="text"
        class="form-control"
        placeholder="Email Id."
        [(ngModel)]="userInfo.email"
      />
    </div>
  </div>
</div>

<div class="row mt-4">
  <div class="col-4">
    <div class="form-group">
      <input
        type="text"
        class="form-control"
        placeholder="Distributer"
        [(ngModel)]="userInfo.distributerId"
      />
    </div>
  </div>
  <div class="col-4">
    <div class="form-group">
      <input
        type="text"
        class="form-control"
        placeholder="Application"
        [(ngModel)]="userInfo.appId"
      />
    </div>
  </div>
  <div class="col-4">
    <div class="form-group">
      <input
        type="text"
        class="form-control"
        placeholder="Registration Date"
        [(ngModel)]="registerOn"
      />
    </div>
  </div>
</div>

<div class="row mt-4">
  <div class="col-5">
    <div class="card pl-2 pr-2">
      <div class="card-title mt-2">
        Expires In: {{ timeStamp.yearsCount }} years
        {{ timeStamp.monthsCount }} months {{ timeStamp.daysCount }} days
      </div>
      <div class="card-text row">
        <div class="col-4">
          <div class="form-group">
            <label> Years </label>
            <input
              type="number"
              class="form-control input"
              placeholder="Years"
              [(ngModel)]="timeStamp.yearsCount"
            />
          </div>
        </div>
        <div class="col-4">
          <div class="form-group">
            <label> Months </label>
            <input
              type="number"
              class="form-control input"
              placeholder="Months"
              [(ngModel)]="timeStamp.monthsCount"
            />
          </div>
        </div>
        <div class="col-4">
          <div class="form-group">
            <label> Days </label>
            <input
              type="number"
              class="form-control input"
              placeholder="Days"
              [(ngModel)]="timeStamp.daysCount"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-7">
    <div class="form-group">
      <input
        type="text"
        class="form-control"
        [(ngModel)] = "verificationKey"
        placeholder="Verification Key"
        disabled
      />
      <div class="row mt-3">
        <div class="col-4">
          <button class="btn btn-primary" (click)="onGenerateKey()">Generate Key</button>
        </div>
        <div class="col-4">
          <button class="btn btn-success" (click)="onActivateClick()">Close</button>
        </div>
        <div class="col-4">
          <small style="color: red;">Expires on date: {{expireOn}}</small>
        </div>
      </div>
    </div>
  </div>
</div>
