.main {
  margin: 1vw;
}

.button {
  width: 100%;
}

.card {
  width: 100%;
  border-radius: 13px;
  background: lightgray;
}

.input {
  background: lightgray;
  border: solid 1px black;
}

.form-control {
  border: none;
  border-bottom: solid 1px black;
  border-radius: 0;
}

.form-select {
  border: none;
  border-bottom: solid 1px black;
  border-radius: 0;
  width: 100%;
}

.dropdown-divider {
  margin-top: 1rem;
}

.table {
  box-shadow: 0px 0px 10px 0px #aaaaaa;
}

.table td {
  vertical-align: middle;
  text-align: center;
}

.table thead th {
  text-align: center;
}

.text-light {
  font-weight: 500;
}

@media (max-width: 540px) {
  .btn, input, label, .expire, table {
    font-size: 11px;
  }
}

.spinner-border {
  width: 1rem;
  height: 1rem;
}
