<div class="main">
  <form name="userRegi" #userRegi="ngForm">
    <div class="row">
      <div class="col-6 col-lg-3">
        <div class="input-group">
          <!-- <div class="input-group-prepend bg-primary">
            <svg
              style="margin: 13px"
              width="1em"
              height="1em"
              viewBox="0 0 16 16"
              class="bi bi-search text-light"
              fill="currentColor"
              xmlns="http://www.w3.org/2000/svg"
              (click)="onDeviceIdSearch()"
            >
              <path
                fill-rule="evenodd"
                d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"
              />
              <path
                fill-rule="evenodd"
                d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"
              />
            </svg>
          </div> -->
          <input
            type="text"
            class="form-control"
            placeholder="Enter device Id."
            name="device"
            #device="ngModel"
            [(ngModel)]="userInfo.deviceId"
            maxlength="8"
            minlength="8"
            required
          />
        </div>
        <small
          *ngIf="deviceIdMatched == false && deviceId != ''"
          style="color: red"
          >Device Id changed from {{ userInfo.deviceId }} to
          {{ deviceId }}</small
        >
        <small
          *ngIf="
            device.invalid &&
            (device.touched || device.dirty) &&
            device.errors.minlength
          "
          style="color: red"
        >
          Device id must be 8 digits/characters
        </small>
      </div>
      <div class="col-6 col-lg-2">
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            placeholder="First Name"
            name="firstName"
            #firstName="ngModel"
            [(ngModel)]="userInfo.firstName"
            required
          />
        </div>
      </div>
      <div class="col-6 col-lg-2">
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            placeholder="Last Name"
            name="lastName"
            #lastName="ngModel"
            [(ngModel)]="userInfo.lastName"
            required
          />
        </div>
      </div>
      <div class="col-6 col-lg-2">
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            placeholder="Contact No."
            name="contactNo"
            #contactNo="ngModel"
            [(ngModel)]="userInfo.contactNo"
            maxlength="10"
            minlength="10"
            required
          />
          <small
            *ngIf="
              contactNo.invalid &&
              (contactNo.touched || contactNo.dirty) &&
              contactNo.errors.minlength
            "
            style="color: red"
          >
            Contact no. must be 10 digits
          </small>
        </div>
      </div>
      <div class="col-6 col-lg-3">
        <div class="input-group">
          <div class="input-group-prepend bg-primary">
            <svg
              style="margin: 13px"
              width="1em"
              height="1em"
              viewBox="0 0 16 16"
              class="bi bi-search text-light"
              fill="currentColor"
              xmlns="http://www.w3.org/2000/svg"
              (click)="onEmailSearch()"
            >
              <path
                fill-rule="evenodd"
                d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"
              />
              <path
                fill-rule="evenodd"
                d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"
              />
            </svg>
          </div>
          <input
            type="text"
            class="form-control"
            placeholder="Email Id."
            name="email"
            #email="ngModel"
            [(ngModel)]="userInfo.email"
            email
            required
          />
        </div>
        <small
          *ngIf="
            email.invalid &&
            (email.touched || email.dirty) &&
            email.errors.email
          "
          style="color: red"
        >
          Enter valid email address
        </small>
      </div>
    </div>
  </form>

  <div class="row">
    <div class="col-6 col-lg-3">
      <!-- <div class="form-group">
        <input
          type="text"
          class="form-control"
          placeholder="Distributer"
          [(ngModel)]="userInfo.distributerId"
        />
      </div> -->
      <div class="input-group mb-3" style="height: 38px">
        <!-- <label class="input-group-text" for="inputGroupSelect01">Options</label> -->
        <select class="form-select" id="inputGroupSelect01" (change)="onDistributer($event)" [(ngModel)]="distributerId">
          <option value="0">Distributer</option>
          <option
            *ngFor="let distributer of storageServiceService.distributerInfo"
            [value]="distributer.id"
          >
            {{ distributer.distributer }}
          </option>
        </select>
      </div>
    </div>
    <div class="col-6 col-lg-3">
      <div class="input-group mb-3" style="height: 38px">
        <!-- <label class="input-group-text" for="inputGroupSelect01">Options</label> -->
        <select class="form-select" id="inputGroupSelect01" (change)="onApplication($event)" [(ngModel)]="appId">
          <option value="0">Application</option>
          <option
            *ngFor="let app of storageServiceService.productInfo"
            [value]="app.id"
          >
            {{ app.productName }}
          </option>
        </select>
      </div>
    </div>
    <div class="col-6 col-lg-3">
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          placeholder="Registration Date"
          [(ngModel)]="userInfo.regiDate"
        />
      </div>
    </div>
    <div class="col-6 col-lg-3">
      <span style="color: red" class="expire"
        >Expires on date: {{ userInfo.expireDate }}</span
      >
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="card pl-2 pr-2">
        <div class="card-text row mt-2">
          <div class="col-6 col-lg-3 my-2">
            <div
              class="form-check form-check-inline"
              style="margin-left: 1vw; margin-right: 0"
            >
              <input
                class="form-check-input"
                type="radio"
                name="inlineRadioOptions"
                id="inlineRadio1"
                value="6Months"
                (change)="onRadioChange($event)"
              />
              <label class="form-check-label" for="inlineRadio1"
                >6 Months</label
              >
            </div>
          </div>
          <div class="col-6 col-lg-2 my-2">
            <div
              class="form-check form-check-inline"
              style="margin-right: -1px"
            >
              <input
                class="form-check-input"
                type="radio"
                name="inlineRadioOptions"
                id="inlineRadio2"
                value="1Year"
                (change)="onRadioChange($event)"
              />
              <label class="form-check-label" for="inlineRadio2">1 Year</label>
            </div>
          </div>
          <div class="col-6 col-lg-3 my-2">
            <div
              class="form-check form-check-inline"
              style="margin-right: 0; margin-left: 1.1vw"
            >
              <input
                class="form-check-input"
                type="radio"
                name="inlineRadioOptions"
                id="inlineRadio3"
                value="2Years"
                (change)="onRadioChange($event)"
              />
              <label class="form-check-label" for="inlineRadio3">2 Years</label>
            </div>
          </div>
          <div class="col-6 col-lg-2 my-2">
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                name="inlineRadioOptions"
                id="inlineRadio4"
                value="date"
                (change)="onRadioChange($event)"
              />
              <label class="form-check-label" for="inlineRadio4">Date</label>
            </div>
          </div>
          <div class="col-6 col-lg-2 my-2">
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                name="inlineRadioOptions"
                id="inlineRadio5"
                value="days"
                (change)="onRadioChange($event)"
              />
              <label class="form-check-label" for="inlineRadio5">Days</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-0 col-lg-7"></div>
          <div class="col-12 col-lg-5" *ngIf="radioValue == 'date'">
            <div class="form-group ml-5">
              <input
                type="text"
                class="form-control input"
                placeholder="Select Date"
                [(ngModel)]="expireDate"
                bsDatepicker
                [bsConfig]="datepickerConfig"
              />
            </div>
          </div>
          <div class="col-12 col-lg-5" *ngIf="radioValue == 'days'">
            <div class="form-group ml-5">
              <input
                type="number"
                class="form-control input"
                [(ngModel)]="enteredDaysCount"
                placeholder="Enter Days"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          [(ngModel)]="userInfo.appKey"
          placeholder="Verification Key"
          disabled
        />
        <div class="row mt-3">
          <div class="col">
            <button
              class="btn btn-primary button"
              (click)="onGenerateKey()"
              [disabled]="
                userRegi.invalid ||
                userInfo.distributerId == '' ||
                userInfo.appId == ''
              "
            >
              Generate Key
            </button>
          </div>
          <div class="col">
            <button
              class="btn btn-success button"
              (click)="onActivateClick()"
              [disabled]="userInfo.appKey == null || userInfo.appKey == ''"
            >
              Activate
              <div
                class="spinner-border text-light"
                role="status"
                *ngIf="showSpinner"
              ></div>
            </button>
            <!-- <button
              *ngIf="userInfo.activated == 'true'"
              class="btn btn-danger button"
              (click)="onDeactivateClick()"
            >
              Deactivate
              <div
                class="spinner-border text-light"
                role="status"
                *ngIf="showSpinner"
              ></div>
         </button> -->
          </div>
          <div class="col">
            <button class="btn btn-secondary button" (click)="onClearClick()">
              Clear
            </button>
          </div>
          <div class="col" *ngIf="userInfo.activated == 'false'">
            <small style="color: red; float: right; margin-top: 3px"
              >Account is deactivated</small
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="dropdown-divider"></div>
  <div class="table-div">
    <table class="table table-striped">
      <thead class="bg-primary">
        <tr>
          <th scope="col" class="text-light">First Name</th>
          <th scope="col" class="text-light">Last Name</th>
          <th scope="col" class="text-light">Distributer</th>
          <th scope="col" class="text-light">Product</th>
          <th scope="col" class="text-light"></th>
          <th scope="col" class="text-light">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of storageServiceService.userInfoArray">
          <td>{{ user.firstName }}</td>
          <td>{{ user.lastName }}</td>
          <td>{{ user.distributerId }}</td>
          <td>{{ user.appId }}</td>
          <td>{{ user.notiDate }}, {{ user.notiTime }}</td>
          <td>
            <button (click)="onGetDetails(user)" class="btn btn-link">
              Get Details
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
