<div class="main bg-primary">
  <h1 class="text-light login">Login</h1>

  <form class="loginForm" name="loginForm" #loginForm="ngForm">
    <div class="form-group my-5">
      <input
        name="emailId"
        type="text"
        class="form-control bg-primary"
        [(ngModel)]="loginDetails.email"
        #emailId="ngModel"
        placeholder="Email"
        required
        email
      />
    </div>
    <div class="form-group my-5">
      <input
        name="password"
        type="password"
        class="form-control bg-primary"
        [(ngModel)]="loginDetails.password"
        #password="ngModel"
        placeholder="Password"
        required
      />
    </div>
    <button
      class="btn btn-info"
      [disabled]="loginForm.invalid"
      (click)="onLoginClick()"
    >
      Login
      <div class="spinner-border text-light" role="status" *ngIf="showSpinner"></div>
    </button>
  </form>
</div>
<app-footer-component></app-footer-component>
