.main {
  padding: 0;
  margin: 0;
  height: 96vh;
  width: 100vw
}

.login {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  font-size: -webkit-xxx-large;
}

.loginForm {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  width: 25%;
}

.form-control {
  border: none;
  border-bottom: solid 1px white;
  border-radius: 0;
  color: white;
}

.btn {
  width: 100%;
}

::placeholder{
  color: white;
}

@media (max-width: 540px) {
  .form-control {
    font-size: 12px;
  }

  .loginForm {
    width: 75%;
  }
}

.spinner-border {
  width: 1rem;
  height: 1rem;
}

