<div class="m-5">
  <div class="row">
    <div class="col-12 col-lg-5">
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          [(ngModel)]="accessBlock.accessBlock"
          placeholder="Enter Access Block"
        />
      </div>
    </div>
    <div class="col-7"></div>
  </div>
  <div>
    <button
      class="btn btn-primary"
      style="float: right"
      (click)="onSaveAccessBlock()"
      [disabled]="accessBlock.accessBlock == ''"
    >
      Save Access Block
    </button>
  </div>

  <div class="table-div">
    <table class="table table-striped">
      <thead class="bg-primary">
        <tr>
          <th scope="col" class="text-light">ID</th>
          <th scope="col" class="text-light">Access Block</th>
          <th scope="col" class="text-light">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let accessBlock of storageService.accessBlocks">
          <td>{{ accessBlock.id }}</td>
          <td>{{ accessBlock.accessBlock }}</td>
          <td>
            <button
              class="btn btn-link"
              (click)="onEditAccessBlock(accessBlock)"
            >
              EDIT
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
