.sideNavContainer {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 96vh;
}

.list-group-item {
  border: none;
  height: 5vh;
  font-size: 1.5vh;
}

.text {
  text-align: center;
}

.admin {
  border-bottom: solid 5px white;
}

