<mat-sidenav-container class="sideNavContainer">
  <mat-sidenav
    class="bg-primary p-0"
    #drawer
    fixedInViewPort="true"
    [attr.role]="isHandset ? 'dialog' : 'navigation'"
    [mode]="(isHandset | async)!.matches ? 'over' : 'side'"
    [opened]="!(isHandset | async)!.matches"
    [ngStyle]="{'width': (isHandset|async)!.matches ? '60%' : '15%'}"
  >
    <div class="admin p-5">
      <h1 class="text-light text" style="font-size: 120%">
        WELCOME
        <p>{{userName | uppercase}}</p>
      </h1>
    </div>
    <div class="menu py-5">
      <div class="mb-4">
        <h1 class="text-light text">Menu</h1>
      </div>
      <ul class="list-group">
        <button
          type="button"
          class="list-group-item text p-0"
          [ngClass]="
            selectedMenuItem == 'employee'
              ? 'bg-light text-primary font-weight-bold'
              : 'bg-primary text-light'
          "
          value="employee"
          (click)="onManuClick($event)"
        >
          EMPLOYEE
        </button>
        <button
          class="list-group-item text p-0"
          [ngClass]="
            selectedMenuItem == 'product'
              ? 'bg-light text-primary font-weight-bold'
              : 'bg-primary text-light'
          "
          value="product"
          (click)="onManuClick($event)"
        >
          PRODUCT
        </button>
        <button
          class="list-group-item text p-0"
          [ngClass]="
            selectedMenuItem == 'distributer'
              ? 'bg-light text-primary font-weight-bold'
              : 'bg-primary text-light'
          "
          value="distributer"
          (click)="onManuClick($event)"
        >
          DISTRIBUTER
        </button>
        <button
          class="list-group-item text p-0"
          [ngClass]="
            selectedMenuItem == 'access'
              ? 'bg-light text-primary font-weight-bold'
              : 'bg-primary text-light'
          "
          value="access"
          (click)="onManuClick($event)"
        >
          ACCESS BLOCK
        </button>
        <button
          class="list-group-item text p-0 bg-primary text-light"
          (click)="onLogoutClick()"
        >
          Sign Out
        </button>
      </ul>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <button
      type="button"
      aria-label="Toggle Sidenav"
      mat-icon-button
      (click)="drawer.toggle()"
      *ngIf="(isHandset | async)!.matches"
    >
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <app-employee-list-component
      *ngIf="selectedMenuItem == 'employee'"
    ></app-employee-list-component>
    <app-product-list-component
      *ngIf="selectedMenuItem == 'product'"
    ></app-product-list-component>
    <app-distributer-list-component
      *ngIf="selectedMenuItem == 'distributer'"
    ></app-distributer-list-component>
    <app-access-blocks-component
      *ngIf="selectedMenuItem == 'access'"
    ></app-access-blocks-component>
  </mat-sidenav-content>
</mat-sidenav-container>
<app-footer-component></app-footer-component>
